*.ez
*.iml
*.private.env.json
.doctor.out
.doctor.skip
.envrc
.idea
.iex-history
/.fetch
/_build/
/assets/node_modules/
/assets/static/version.txt
/cover/
/deps/
/doc/
/priv/postgres/
/priv/repo/structure.sql
/priv/static/
/tmp/
Brewfile.lock.json
epicenter-*.tar
erl_crash.dump
npm-debug.log
.vscode/
.DS_Store
