*.ez
*.iml
*.private.env.json
.doctor.out
.doctor.skip
.envrc
.idea
.iex-history
/.fetch
/_build/
/assets/static/version.txt
/cover/
/deps/
/doc/
/priv/postgres/
/priv/repo/structure.sql
/priv/static/assets/
/tmp/
Brewfile.lock.json
epiviewpoint-*.tar
erl_crash.dump
npm-debug.log
.vscode/
.DS_Store
logfile
/.direnv/
.envrc.private
/.nix-mix/
/scripts/
/.elixir_ls/
/.erlang-history/