@import "../mixins"

#people-page
  @include vertical-flow

  h2
    @include level($justify: space-between)

    #title
      @include level($justify: left)

  #filter
    @include button-list
    display: inline-block
    margin-left: 1rem

  #toolbar
    @include level($justify: space-between)

    #import-labs
      @include button-secondary

  #user-list
    @include has-tooltip-when-disabled(#assignment-dropdown-tooltip)
    @include level
    border-radius: 0
    border-right-width: 0

    &[data-disabled]
      #assign-to-label, #select-wrapper, #select-wrapper > select
        color: $disabled-text-color
        border-color: $disabled-text-color

    #assign-to-label
      @include button-outline($size: regular)
      border-radius: 2px 0 0 2px
      border-right-width: 0

    #select-wrapper
      padding: 1.1rem 1rem
      border-color: $button-color
      border-radius: 0 2px 2px 0
      border-width: 1px
      border-style: solid
      margin: 0

      select
        border: none
        color: $button-color
        font-size: $body-text-size

      select:focus
        outline: 0

  #reload-message
    @include button-outline($size: small)
    margin-right: 1rem
    font-weight: normal

  table
    @include data-table
