@import "../mixins"

#people-page
  h2
    @include level($justify: space-between)

    #title
      @include level($justify: left)

  #filter
    @include button-list
    display: inline-block
    margin-left: 1rem

  #reload-message
    @include button-primary-small
    margin-right: 1rem
    font-weight: normal

  table
    @include table

    margin-top: 2rem
    width: 100%
