@import "../mixins"

#person-page
  #subnav
    @include subnav

  #identifying-information
    @include level

  table
    @include table
    border-collapse: collapse
    margin-top: 0.5rem

    & + table
      margin-top: 2rem

    tbody + tbody
      tr:first-child
        th, td
          padding-top: 1.5rem

#person-edit-page
  #subnav
    @include subnav

  #person-form
    @include form

    #submit-form
      @include button-primary