@import "../mixins"

#person-page
  #subnav
    @include level
    margin-bottom: 1rem

    *
      font-size: $small-font-size
      text-transform: uppercase

    * + *:before
      content: "/"
      margin-right: 1rem

  table
    @include table
    border-collapse: collapse
    margin-top: 0.5rem

    & + table
      margin-top: 2rem

    tbody + tbody
      tr:first-child
        th, td
          padding-top: 1.5rem
