@import "../mixins"

#profile-page
  #subnav
    @include subnav

    a
      @include has-icon($link-color)

  @include vertical-flow

  #subnav
    @include subnav

  #heading
    @include vertical-flow

    #external-id
      color: $secondary-text-color

  #user-list
    #assignee-label
      font-weight: bold

    #select-wrapper
      @include select

  section#profile
    @include card

    table#profile-data
      @include detail-table

      .address-details
        padding-top: .5rem
        & + .address-details
          padding-top: .5rem

  section#lab-results
    @include card

    #empty-lab-results
      color: $secondary-text-color
      text-align: center
      margin-bottom: 3rem

    table#lab-results-data
      @include data-table

  .complete-interview-case-investigation-link, .complete-interview-link
    @include button-primary
    margin-right: 1.4rem

  section.case-investigation
    @include card

    .reported-on
      color: $secondary-text-color
      margin-top: 0

    .case-investigation-sections
      @include vertical-flow
      @include dividers

    .case-investigation-interview-status
      @include level($justify: space-between)
      margin-top: 0

      .status
        margin-top: 2rem

        .pending
          color: $pending-color
        .started
          color: $started-color
        .completed-interview
          color: $completed-color

      .start-interview-case-investigation-link
        @include button-primary
        margin-right: 1.4rem

      .discontinue-case-investigation-link
        @include button-secondary

    .case-investigation-isolation-monitoring-status
      @include level($justify: space-between)

      .pending
        color: $pending-color
      .ongoing
        color: $started-color
      .concluded
        color: $completed-color

      .add-isolation-dates-case-investigation-link,
      .conclude-isolation-monitoring-case-investigation-link,
      .edit-isolation-order-case-investigation-link
        @include button-primary

    .case-investigation-history
      color: $secondary-text-color

      .history-item-link
        padding-left: 2rem

    .case-investigation-clinical

      table.clinical-data
        @include detail-table

      .clinical-details-header-row
        @include level($justify: space-between)
        a
          @include button-outline(wide)

    .case-investigation-contacts
      @include vertical-flow()

      .contacts-header-row
        @include level($justify: space-between)

        .add-contact-case-investigation-link
          @include button-outline(wide)

      .contact
        .contact-details
          .contact-name
            font-weight: bold

          ul
            @include dotted-details

        .contact-edit-remove
          @include horizontal-flow

  section.contact-investigation
    @include card

    .visit-exposing-case-link
      padding-left: 1rem

    .contact-investigation-timestamp
      color: $disabled-text-color

    .dotted-details
      @include dotted-details

    .contact-investigation-sections
      @include vertical-flow
      @include dividers

    .contact-investigation-status-row
      @include level($justify: space-between)

      .pending-status
        color: $pending-color

      .discontinued-status
        color: $discontinued-color

      .started-status
        color: $started-color

      .completed-status
        color: $completed-color

      .contact-investigation-interview-buttons
        .discontinue-link
          @include button-secondary

        .start-link
          @include button-primary

    .contact-investigation-history
      color: $secondary-text-color

      .history-item-link
        padding-left: 2rem

  section#demographics
    @include card

    table#demographics-data
      @include detail-table
