@import "../mixins"

#profile-edit-page
  @include vertical-flow

  #subnav
    @include subnav

  #profile-edit
    header
      @include h4

    #profile-form
      @include form

      #identifying-information
        @include vertical-flow

        #language-fields
          @include level

          #preferred-language
            @include select

          #other-preferred-language[data-disabled]
            display: none

        #name-fields
          @include level

      #locating-information
        @include vertical-flow
        border-top: 2px solid $divider-color
        margin-top: 2rem

        & > header
          margin-top: 2rem

        fieldset header
          font-size: $body-text-size

        // TODO: dry me up scotty!

        .phone-wrapper:not(:first-of-type)
          @include vertical-flow

        .phone-wrapper
          input[type=checkbox]
            display: none

          input[type=checkbox]:checked + .phone-and-trash-can
            display: none

          .phone-and-trash-can
            @include level

            label
              @include centered

          .select-wrapper
            @include select

        .address-wrapper:not(:first-of-type)
          @include vertical-flow

        .address-wrapper
          .address-and-trash-can
            @include level
            label
              @include centered
          .select-wrapper
            @include select

        .email-address-wrapper:not(:first-of-type)
          @include vertical-flow

        .email-address-wrapper
          input[type=checkbox]
            display: none

          input[type=checkbox]:checked + .email-address-and-trash-can
            display: none

          .email-address-and-trash-can
            @include level

            label
              @include centered

        #add-phone, #add-email, #add-address
          @include button-secondary
          @include has-icon

      #submit-form
        @include button-primary

      #form-end
        margin-bottom: 84px

      #nav
        @include level
        border-top: 2px solid $divider-color
        position: fixed
        padding: 1rem 2rem 2rem 2rem
        bottom: 0
        left: 0
        right: 0
        background-color: white

        #submit-form
          @include button-primary