@import "../mixins"

#profile-page
  @include centered-page
  @include vertical-flow

  #subnav
    @include subnav

  #heading
    @include vertical-flow

    #external-id
      color: $secondary-text-color

  #user-list
    #assignee-label
      font-weight: bold

    #select-wrapper
      @include select

  section#profile
    @include card

    table#profile-data
      @include detail-table

      .address-details
        padding-top: .5rem
        & + .address-details
          padding-top: .5rem

  section#lab-results
    @include card

    #empty-lab-results
      color: $secondary-text-color
      text-align: center
      margin-bottom: 3rem

    table#lab-results-data
      @include data-table

  section.case-investigation
    @include card

    .reported-on
      color: $secondary-text-color
      margin-top: 0

    .case-investigation-status
      @include level($justify: space-between)
      border-bottom: 2px solid $divider-color
      margin-top: 0

      .status
        margin-top: 2rem

        .pending
            color: $pending-color
        .started
            color: $started-color

      .start-interview-case-investigation-link
        @include button-primary
        margin-right: 1.4rem

      .complete-interview-case-investigation-link
        @include button-primary
        margin-right: 1.4rem

      .discontinue-case-investigation-link
        @include button-secondary

    .case-investigation-history
      color: $secondary-text-color

      .history-item-link
        padding-left: 2rem
    .case-investigation-clinical

      table.clinical-data
        @include detail-table

      .clinical-details-header-row
        border-top: 2px solid $divider-color
        padding: 2rem 0
        @include level($justify: space-between)
        a
          @include button-outline(wide)

    .case-investigation-contacts
      .contacts-header-row
        border-top: 2px solid $divider-color
        padding: 2rem 0
        @include level($justify: space-between)
        .add-contact-case-investigation-link
          @include button-outline(wide)




  section#demographics
    @include card

    table#demographics-data
      @include detail-table
