@import "../mixins"

#profile-edit-page
  @include centered-page
  @include vertical-flow

  #subnav
    @include subnav

    a
      @include has-icon($link-color)

  #profile-edit
    header
      @include h4

    #profile-form
      @include form

      .trash-icon:hover
        cursor: pointer

      #identifying-information
        @include vertical-flow

        #language-fields
          @include level

          #preferred-language
            @include select

          #other-preferred-language[data-disabled]
            display: none

        #name-fields
          @include level

      #locating-information
        @include vertical-flow
        border-top: 2px solid $divider-color
        margin-top: 2rem

        .locating-information-section:not(:first-of-type)
          margin-top: 3rem

        & > header
          margin-top: 2rem

        fieldset header
          font-size: $body-text-size

        a
          margin-top: 1rem

        // TODO: dry me up scotty!

        .phone-wrapper:not(:first-of-type)
          @include vertical-flow

        .phone-wrapper
          input[type=checkbox]
            display: none

          input[type=checkbox]:checked + .phone-and-trash-can
            display: none

          .phone-and-trash-can
            @include level

            label
              @include centered

          .select-wrapper
            @include select

        $form-row-inner-margin: 1rem

        #address-form-header
          display: grid
          grid-template-columns: 40% 10% 5em 8em

          > * + *
            margin-left: $form-row-inner-margin

        .address-wrapper:not(:first-of-type)
          @include vertical-flow

        .address-wrapper
          .address-and-trash-can
            display: grid
            grid-template-columns: 40% 10% 5em 8em

            > * + *
              margin-left: $form-row-inner-margin

            .select-wrapper
              @include select
              margin-left: $form-row-inner-margin

            label
              @include centered

        .email-address-wrapper:not(:first-of-type)
          @include vertical-flow

        .email-address-wrapper
          input[type=checkbox]
            display: none

          input[type=checkbox]:checked + .email-address-and-trash-can
            display: none

          .email-address-and-trash-can
            @include level

            label
              @include centered

            input
              width: 29rem

        #add-phone, #add-email, #add-address
          @include button-secondary
          @include has-icon

      #submit-form
        @include button-primary

      #form-end
        margin-bottom: 84px

      #nav
        @include level
        background-color: white
        border-top: 2px solid $divider-color
        bottom: 0
        left: 0
        padding: 1rem 2rem 2rem 2rem
        position: fixed
        right: 0

        #button-wrapper
          max-width: 144rem
          margin: 0 auto
          padding-left: 4rem
          width: 100%

          #submit-button
            @include button-primary
            width: 10rem