@import "../mixins"

#profile-edit-page
  @include vertical-flow

  #subnav
    @include subnav

  #profile-edit
    header
      @include h4

    #profile-form
      @include form

      #identifying-information
        border-bottom: 2px solid $divider-color
        padding-bottom: 2rem

        #language-fields
          @include level

          #preferred-language
            @include select

          #other-preferred-language[data-disabled]
            display: none

        #name-fields
          @include level

      #submit-form
        @include button-primary
