@import "../mixins"

#search-results
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 0
  z-index: 1

  #search-results-inner
    @include vertical-flow
    @include dividers
    @include shadow($style: dialog)

    background-color: white
    height: 80vh
    margin: 4rem
    padding: 4rem
    overflow-x: scroll

    #search-close-results
      text-align: right

      a:hover
        @include svg-color($link-color)

    h2
      #search-result-count
        font-weight: normal

    .search-result
      @include vertical-flow($margin: 0.5rem)

      a
        font-weight: bold

      .search-result-details
        ul
          @include dotted-details

    #search-results-pagination
      @include horizontal-flow

    #no-search-results
      ul
        list-style: disc inside
