#close-search-results
  @include button-link
  @include has-icon($link-color)
  margin: 5rem

#no-results
  @include full-width-page
  @include level($justify: center)

  #no-search-results
    background-color: white
    padding-top: 10rem
    padding-left: 6rem

  #no-results-icon
    @include level($justify: center)

  #title
    font-weight: normal
    span
      font-weight: bold

#search-results
  #search-result-count
    font-weight: normal
