<div id="styleguide-page">
  <div id="nav">
    <a href="#text">Text</a>
    <a href="#buttons-and-links">Buttons & links</a>
    <a href="#layout">Layout</a>
    <a href="#containers">Containers</a>
    <a href="#elements">Elements & controls</a>
    <a href="#data">Data</a>
    <a href="#form">Form</a>
    <a href="#effects">Effects</a>
    <a href="#components">Components</a>
    <a href="#icebox">Icebox</a>
  </div>

  <!--
  // text
  -->
</div>