@import "variables"
@import "mixins"

a
  text-decoration: none
  color: $link-color

body
  color: $primary-text-color
  font-size: $body-text-size
  font-family: $system-font
  line-height: 1.5

  &.body-background-none
    background-color: white

  &.body-background-color
    background-color: $background-color

body, html
  height: 100%

fieldset
  border: none
  margin: 0
  padding: 0

h1
  @include h1

h2
  @include h2

h3
  @include h3

h4
  @include h4

html
  position: relative
  background-color: inherit
  font-size: $em-base
  -webkit-font-smoothing: antialiased

main
  @include pancake-stack

section
  @include slab

ul
  list-style-type: none
  padding-inline-start: 0
  margin: 0
