@import "variables"
@import "mixins"

a
  text-decoration: none
  color: $link-color

body
  font-size: $medium-font-size
  font-family: $system-font
  line-height: $medium-line-height
  @include pancake-stack

body, html, main, main > *
  height: 100%

fieldset
  border: none
  margin: 0
  padding: 0

footer
  font-size: $small-font-size

h1, h2, h3, h4, h5, h6
  margin: 0

h1
  font-weight: 800
  font-size: $very-large-font-size
  line-height: $very-large-line-height

html
  position: relative
  background-color: $primary-background-color
  font-size: $em-base
  -webkit-font-smoothing: antialiased

main
  background-color: white

section
  @include slab

ul
  list-style-type: none
  padding-inline-start: 0
  margin: 0
