@import "variables"

@mixin hero
  margin: 2rem auto
  max-width: $hero-width

@mixin level($justify: left)
  align-items: center
  justify-items: $justify
  display: flex

  * + *
    @if $justify == left
      margin-right: 1rem
    @else
      margin-left: 1rem

// https://1linelayouts.glitch.me
@mixin pancake-stack
  display: grid
  grid-template-rows: auto 1fr auto

@mixin slab($centered: false, $display: block)
  display: $display
  margin: 1rem
  padding: 1rem