@import "variables"

@mixin autocomplete
  position: relative

  &:not(:focus-within)
    ul
      display: none

  input
    -webkit-appearance: none
    -webkit-box-sizing: border-box
    background-color: transparent
    border-radius: 0
    border: 1px solid $input-color
    color: $primary-text-color
    font-size: $body-text-size
    outline: none
    padding: $input-padding
    width: 100%

  ul
    -webkit-overflow-scrolling: touch
    background-color: $background-color
    margin-bottom: 1rem
    margin-top: 1px
    max-height: 12em
    overflow-y: scroll
    padding: 0
    position: absolute
    width: 100%
    z-index: 1000

    &:empty
      display: none

    li
      margin: 1px
      padding: 0.25rem 1rem

      &:hover
        color: $link-color
        cursor: pointer
        text-decoration: underline

      &[aria-selected="true"]
        background-color: #ccc

      & + li
        border-top: 1px dotted white

@mixin button-list
  .button
    @include button-outline($size: small)
    background-color: white
    border-radius: 0
    border-right-width: 0
    font-weight: normal

    &[data-active=true]
      text-decoration: underline

    &:first-of-type
      border-radius: 2px 0 0 2px
      border-right-width: 0

    &:last-of-type
      border-radius: 0 2px 2px 0
      border-right-width: 1px

@mixin -button($size: regular, $hover-bg-color: $button-hover-color, $disabled-bg-color: $disabled-button-color)
  background-color: $button-color
  border: 1px solid $button-color
  border-radius: 2px
  color: $button-color
  cursor: pointer
  display: inline-block
  font-size: $body-text-size
  font-weight: normal
  padding: 1.1rem 2rem
  text-align: center
  white-space: nowrap

  &[data-disabled]
    background-color: $disabled-bg-color
    border-color: $disabled-text-color
    color: $disabled-text-color
    cursor: default

    &:hover
      background-color: $disabled-bg-color

  @if $size == small
    font-size: $small-body-text-size
    padding: 0.5rem 1rem

  &:hover
    text-decoration: none
    background-color: $hover-bg-color

@mixin button-primary($size: regular)
  @include -button($size: $size)
  color: white

@mixin button-secondary($size: regular)
  @include -button($size: $size, $hover-bg-color: $secondary-button-hover-color)
  background-color: $secondary-button-color
  border-color: $secondary-button-color
  color: $primary-text-color

@mixin button-outline($size: regular)
  @include -button($size: $size, $hover-bg-color: white, $disabled-bg-color: white)
  background-color: inherit

@mixin button-link($size: regular)
  @include -button($size: $size)
  background-color: inherit
  border: 1px solid transparent

@mixin card($width: regular)
  @include vertical-flow
  border: 2px solid $divider-color
  padding: 0 2rem 2rem 2rem
  margin-left: 2rem
  margin-right: 2rem

  @if $width == narrow
    max-width: 50rem
    margin-left: auto
    margin-right: auto

  header
    @include level($justify: space-between)
    @include h4
    margin-top: 2rem

    a
      @include button-primary

@mixin centered
  display: grid

  & > *
    place-self: center

@mixin centered-page
  max-width: $max-width
  margin: 0 auto

@mixin checkbox-list
  @include radio-button-list

@mixin data-table
  border-collapse: collapse
  margin-top: 3rem
  width: 100%

  .unknown
    color: $disabled-text-color

  thead
    tr:last-of-type
      border-bottom: 1px solid $divider-color
      padding-bottom: 1rem

  tr
    border-bottom: 1px solid $divider-color

  tr:last-child
    border-bottom: none

  th, td
    min-width: 3rem
    padding: 0.5rem 0
    text-align: left
    vertical-align: top

@mixin detail-table
  border-collapse: collapse

  .unknown
    color: $disabled-text-color

  th, td
    border: none
    padding-left: 0
    padding-right: 6rem
    text-align: left
    vertical-align: top

  tbody:not(:first-of-type)
    tr:first-of-type
      th, td
        padding-top: 2rem

@mixin form
  margin-top: 1rem

  label, input
    display: block

  button
    margin-top: 1rem

  [type=submit]
    @include button-primary

  fieldset
    margin-top: 1rem

    label
      font-weight: bold

    input
      margin-top: 0.25rem
      padding: $input-padding
      border: 1px solid $input-color
      @extend .is-size-m

    &.has-fieldsets
      @include level

    .has-select
      @include select

    @each $name, $size in $form-field-sizes
      &.is-size-#{$name}
        input
          width: $size

  .invalid-feedback
    color: $error-color
    font-size: $small-body-text-size
    font-weight: normal
    padding-left: 0.5rem

  .form-error-message
    @include has-icon($error-color)

// work-in-progress grid-based form to possibly replace the other form mixin
@mixin form-grid
  @include vertical-flow
  margin-bottom: 10rem

  fieldset
    @include grid(8rem)

    label
      font-weight: bold

    input, textarea
      padding: $input-padding
      border: 1px solid $input-color

    input[type=submit], button[type=submit]
      @include button-primary

    .invalid-feedback
      color: $error-color
      font-size: $small-body-text-size
      font-weight: normal

    .checkbox-list
      @include checkbox-list

    .radio-button-list
      @include radio-button-list

    .select-wrapper
      @include select
      margin: 0

  footer
    @include level
    background-color: white
    border-top: 2px solid $divider-color
    bottom: 0
    left: 0
    padding: 2rem 2rem 2rem
    position: fixed
    right: 0

    button
      @include button-secondary

    button:first-of-type
      @include button-primary

    .form-error-message
      color: $error-color

@mixin grid($column-size)
  align-items: start
  column-gap: 2rem
  display: grid
  grid-auto-columns: $column-size
  grid-auto-rows: auto
  justify-items: stretch
  row-gap: 0

  @for $i from 1 through 10
    > [data-grid-row="#{$i}"]
      grid-row: $i

    > [data-grid-col="#{$i}"]
      grid-column-start: $i

    > [data-grid-span="#{$i}"]
      grid-column-end: span $i

@mixin -heading
  font-weight: bold
  line-height: 1.5
  margin: 0

@mixin h1
  @include -heading
  font-size: 4.8rem

@mixin h2
  @include -heading
  font-size: 3.2rem

@mixin h3
  @include -heading
  font-size: 2.4rem

@mixin h4
  @include -heading
  font-size: 2rem

@mixin has-icon($color: $primary-text-color)
  @include level($spacing: 0.5rem)
  color: $color

  svg
    @include svg-color($color)

@mixin has-tooltip-when-disabled($tooltip)
  #{$tooltip}
    color: $secondary-text-color
    font-size: $small-body-text-size
    opacity: 0
    position: absolute
    visibility: hidden

  &[data-disabled]
    &:hover
      #{$tooltip}
        animation: 0.3s show
        opacity: 1
        visibility: visible

@mixin horizontal-flow($justify: left, $spacing: 1rem)
  align-items: flex-start
  display: flex
  justify-content: $justify

  @if $justify == left
    display: inline-flex
    justify-content: flex-start
  @else if $justify == right
    display: inline-flex
    justify-content: flex-end

  & > *
    display: inline-block

  & > *:not(:first-child)
    margin-left: $spacing

@mixin level($justify: left, $spacing: 1rem)
  @include horizontal-flow($justify: $justify, $spacing: $spacing)
  align-items: center

// https://1linelayouts.glitch.me
@mixin pancake-stack
  display: grid
  grid-template-rows: auto 1fr auto

@mixin radio-button-list
  // Radio button list items are in reverse order in the markup so that the "other" text field is overridden by
  // any radio button, so the CSS here reverses the reverse order.
  display: flex
  flex-direction: column-reverse

  font-weight: bold
  margin-top: 0.5rem

  > *:not(:last-child)
    margin-top: 0.5rem

  label
    display: block
    font-weight: normal

  [data-reveal="when-parent-checked"]
    display: none

  input[type=radio]:checked ~ [data-reveal="when-parent-checked"]
    display: initial
    margin-left: 1.8rem
    margin-top: 0.5rem

@mixin select
  align-items: center
  border-color: $input-color
  border-style: solid
  border-width: 1px
  display: inline-flex
  flex-direction: row-reverse
  margin: 0.25rem 0 0 0
  padding: 0

  select
    &::-ms-expand
      display: none
    -moz-appearance: none
    -webkit-appearance: none

    background-color: transparent
    border: none
    color: $primary-text-color
    cursor: pointer
    font-size: $body-text-size
    outline: none
    padding: $input-padding
    padding-right: 2.5rem
    width: 100%

  select:focus
    outline: 0

  svg
    @include svg-color($primary-text-color)
    display: inline-block
    margin-left: -2rem
    padding-right: 0.5rem

  &[data-disabled]
    border-color: $disabled-button-color

    select
      color: $disabled-text-color

    svg
      @include svg-color($disabled-button-color)

  &[data-unset]
    select
      color: $disabled-text-color

@mixin shadow($style: dialog)
  @if $style == dialog
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
  @else if $style == overlay
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02)

// https://1linelayouts.glitch.me
@mixin sidebar-layout
  display: grid
  grid-template-columns: minmax(150px, 25%) 1fr
  height: 100%

@mixin slab($centered: false, $display: block)
  display: $display
  margin: 1rem
  padding: 1rem

@mixin subnav
  @include level

  *
    font-size: $small-body-text-size

@mixin svg-color($color)
  path
    fill: $color

@mixin vertical-flow($margin: 2rem)
  & > table
    display: table

  & > *
    display: block

    &:not(:first-child)
      margin-top: $margin
