@import "mixins"
@import "variables"

#nav
  background-color: white

  #nav-inner
    border-bottom: 1px solid $divider-color
    padding: 1rem

    #search-form
      input
        border: 1px solid $input-color
        border-radius: 21px
        margin-top: 0.25rem
        padding: $input-padding
        padding-left: 35px
        width: 227px

      label
          svg
            position: relative
            left: 30px
            top: 3px


    #nav-items
      @include level($justify: space-between)
      padding: 0 1rem

      #nav-left
        @include level($spacing: 3rem)

        #logo
          line-height: initial

          svg
            height: 35px
            width: 35px

      #nav-right
        @include level

      #user-menu
        @include dropdown($style: link)
