@import "mixins"
@import "variables"

#nav
  #nav-inner
    border-bottom: 1px solid $divider-color
    padding: 1rem

    #nav-items
      display: flex
      justify-content: space-between
      padding: 0 1rem

      #nav-left
        font-weight: bold
        @include level

      #nav-right
        @include level
