// Change root font size to 10px for easier rem calculations
$em-base: 62.5% !default

$max-width: 144rem

// font sizes
$body-text-size: 1.6rem
$small-body-text-size: 1.4rem

// fonts
$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

// literal colors (private, wrap these with semantic colors)
$-black-87: rgba(0, 0, 0, 0.87)
$-black-60: rgba(0, 0, 0, 0.60)
$-black-38: rgba(0, 0, 0, 0.38)

$-gray-darker: #718096
$-gray-dark: #c2c7cd
$-gray: #d8dee5
$-gray-bluish: #dee5ed
$-gray-light: #e2e8f0
$-gray-lighter: #f4f4f7

$-blue: #1b50b5
$-blue-dark: #164193
$-green: #38a169
$-red: #e53e3e

$-bright-beige: #fff0ca

// semantic colors (public)
$primary-text-color: $-black-87
$secondary-text-color: $-black-60
$disabled-text-color: $-black-38

$banner-color: $-bright-beige
$button-color: $-blue
$button-hover-color: $-blue-dark
$disabled-button-color: $-gray-light
$link-color: $-blue
$secondary-button-color: $-gray-light
$button-list-divider-color: $-gray-dark
$secondary-button-hover-color: $-gray
$delete-link-color: $-red
$pagination-highlight-color: $-gray-bluish

$error-color: $-red
$success-color: $-green

$background-color: $-gray-lighter
$divider-color: $-gray-light

$input-color: $-gray-darker
$input-padding: 1.2rem 1rem

// progress statuses
$pending-color: $-red
$started-color: $-blue
$discontinued-color: $-red
$completed-color: $-green

$form-field-sizes: ("xs": 5rem, "s": 10rem, "m": 15rem, "l": 25rem, "xl": 50rem)
