// Change root font size to 10px for easier rem calculations
$em-base: 62.5% !default

// font sizes
$very-small-font-size: 0.9rem
$small-font-size: 1.1rem
$small-line-height: 1.3rem
$medium-font-size: 1.4rem
$medium-line-height: 2.0rem
$very-large-font-size: 2rem
$very-large-line-height: 2.3rem

// fonts
$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

// background-colors
$dark-background-color: rgba(54, 54, 54, 0.87)
$primary-background-color: white
$secondary-background-color: #f4f4f7

// colors
$border-color: #D1D4D6
$diminished-text-color: #555
$disabled-control-color: #999
$disabled-text-color: rgba(0,0,0,0.38)
$error-color: red
$link-color: #1B50B5
$primary-color: #1B50B5

// widths
$hero-width: 400px
