// Change root font size to 10px for easier rem calculations
$em-base: 62.5% !default

// font sizes
$body-text-size: 1.6rem
$small-body-text-size: 1.4rem

// fonts
$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

// colors
$-black-87: rgba(0, 0, 0, 0.87)
$-black-60: rgba(0, 0, 0, 0.60)
$-black-38: rgba(0, 0, 0, 0.38)
$-blue: #1b50b5
$-gray-background: #f4f4f7
$-gray: #e2e8f0
$-gray-dark: #e7e7e7
$-gray-darker: #c4c4c4
$-green: #38a169
$-red: #e53e3e

$primary-text-color: $-black-87
$secondary-text-color: $-black-60
$disabled-text-color: $-black-38

$link-color: $-blue
$button-color: $-blue
$secondary-button-color: $-gray
$tertiary-button-color: $-gray-darker
$disabled-button-color: $-gray

$error-color: $-red
$success-color: $-green

$background-color: $-gray-background
$divider-color: $-gray
$form-color: $-gray-dark
