section#import-page
  h2 Import Labs
  p= "Successfully imported #{@last_csv_import_info.imported_person_count} people and #{@last_csv_import_info.imported_lab_result_count} lab results."
  p= link "Continue", to: "/", id: "continue-button"
