<section id="import-page">
  <h2>Upload a CSV File</h2>

  <p>
    Successfully imported <%= @last_csv_import_results.people %> people and <%= @last_csv_import_results.lab_results %> lab results.
  <p>

  <%= link "Continue", to: "/", id: "continue-button" %>
</section>