<section id="admin-page">
  <h2>Admin</h2>

  <table>
    <tr>
      <th>People</th>
      <td><%= @person_count %></td>
    </tr>
    <tr>
      <th>Lab results</th>
      <td><%= @lab_result_count %></td>
    </tr>
  </table>
</section>