<div
  data-confirm-navigation={@confirmation_prompt}
  data-page="case-investigation-conclude-isolation-monitoring"
  id="case-investigation-conclude-isolation-monitoring-page"
>
  <section>
    <header id="subnav">
      <.link navigate={~p"/people/#{@case_investigation.person}"} data-role="back-link"><%= back_icon() %><span>Back</span></.link>
    </header>
  </section>
  <section id="case-investigation-conclude-isolation-monitoring">
    <h2 id="conclude-isolation-monitoring-heading"><%= @page_heading %></h2>
    <%= form_for @form_changeset, "#", [id: "case-investigation-conclude-isolation-monitoring-form", phx_change: "change", phx_submit: "save"], fn f -> %>
      <%= conclude_isolation_monitoring_form_builder(f) %>
    <% end %>
  </section>
</div>
