<div
  data-confirm-navigation={@confirmation_prompt}
  data-page="contact-investigation-conclude-quarantine-monitoring"
  id="contact-investigation-conclude-quarantine-monitoring-page"
>
  <section>
    <header id="subnav">
      <%= live_redirect to: Routes.profile_path(EpicenterWeb.Endpoint, EpicenterWeb.ProfileLive, @contact_investigation.exposed_person), data: [role: "back-link"] do %>
        <%= back_icon() %><span>Back</span>
      <% end %>
    </header>
  </section>
  <section id="contact-investigation-conclude-quarantine-monitoring">
    <h2 data-role="conclude-quarantine-monitoring-heading"><%= @page_heading %></h2>
    <%= form_for @form_changeset, "#", [id: "contact-investigation-conclude-quarantine-monitoring-form", phx_change: "change", phx_submit: "save"], fn f -> %>
      <%= conclude_quarantine_monitoring_form_builder(f) %>
    <% end %>
  </section>
</div>
