<section id="import-page">
  <h2>Upload a CSV File</h2>

  <p>
    Choose a file, click “Upload”, and then wait for the file to upload.
  </p>

  <%= form_tag("/import/upload", multipart: true, method: :post) %>
    <input type="file" name="file">
    <input type="submit" value="Upload" id="upload-button">
  </form>
</section>