<section
  data-confirm-navigation={confirmation_prompt(@form_changeset)}
  data-page="user"
  id="user-page"
>
  <h2><%= if(@user, do: "Edit user", else: "New user") %></h2>
  <%= form_for @form_changeset, "#", [id: "user-form", phx_change: "change", phx_submit: "save"], fn f -> %>
    <%= user_form_builder(f, @form_error) %>
  <% end %>
</section>
